:root{
    --text-color: white;
    --primary-color: #6366f1;
    --sprimary-color:  rgb(231, 23, 148);
    /* --text-color: #1a1a1a; */
    --link-color: rgb(41, 41, 241);
    --background-color: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
    scroll-behavior: smooth;
 }

 body{
    font-family: 'poppns', sans-serif;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    --text-color: white;
 }

 a {
    color: var(--link-color);
    text-decoration: none;

 }

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    height: 67px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1b1b25;
    z-index: 1000;
}
nav ul{
    display: flex;
    list-style: none;
}

nav .left a{
    color:var(--text-color);
    font-size: 25px;
    font-weight: 800px;
}


.right a{
    color: var(--text-color);
    font-size: 20px;
    margin: 0px 10px;
}
.right a:hover{
    cursor: pointer;
    box-shadow: 3px 4px 3px  rgb(231, 23, 148);
    transition: 0.3s;
}

/* section 1 */
#home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 85px 0px;
}

section .profile-img{
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 53%;
    border: 3px solid rgb(118, 118, 228);
    box-shadow: 3px 4px 4px  rgb(231, 23, 148);
}


#home .greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 30%; */
    margin: 30px 0px;
    color: var(--text-color);
}
#home h2{
    margin-bottom: 25px;

}
#home .p1,.p2,.p3{
    margin-bottom: 25px;
    font-size: 22px;
}
#home .p1, .p2 span{
    color: rgb(231, 23, 148);
}

#home .project, .contact{
    border-radius: 50px;
    padding: 22px;
    font-size: 18px;
    background-color: #6366f1;
    color: var(--text-color);
    border: none;
    margin: 0px 6px;
}
#home .contact:hover{
    box-shadow: 3px 2px 4px rgb(231, 23, 148);
        cursor: pointer;
        background-color: #ffffff;
        border: 2px solid #6366f1;
        color: black;
        transition: 0.2s;
        transform: scale(1.1);

}
#home .project:hover{
     box-shadow: 3px 2px 4px rgb(231, 23, 148);
     background-color: #ffffff;
     border: 2px solid #6366f1;
     transition: 0.2s;
    transform: scale(1.1);
    color: black;
}



/* Section 2 */
#about{
     padding: 0px 30px;
    color: var(--text-color);
    min-height: 100vh;
    background-color: red;
}
.about-section{
    display: flex;
    color: var(--text-color);
    gap: 45px;
    align-items: center;
    justify-content: center;
    background-color: #6366f1;

}

.about-img{
    margin: 0 auto;
    border: 3px solid #6366f1;
    box-shadow: 4px 4px 20px rgb(231, 23, 148);
    max-width: 400px;
    max-height: 400px;
}
.about-img > img {
    width: 100%;
}

p{
    margin-bottom: 44px;
}
.about-text p{
    line-height: 1.7;
}

.skills h3{
    margin-bottom: 17px;
    box-shadow: 2px 5px 30px  #6366f1;
    padding: 12px;
    border-radius: 12px;
}
.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 33px;
}
.skill-list li{
    padding: 9px 18px;
    background-color: var(--background-color);
    border: 1px solid rgb(231, 23, 148);
    border-radius: 50px;
}
.skill-list li:hover{
    cursor: pointer;
    box-shadow: 2px 3px 3px  #6366f1;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Project section 3 */

#project{
    min-height: 90vh;
    color: var(--text-color);
    overflow: hidden;
}
h2{
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 40px;
}
.project-section{
    display: grid;
    margin: 0px 60px;
    gap: 30px;
}
.project-card{
    border: 1px solid var(--sprimary-color);
    padding: 22px 22px;
    border-radius: 15px;
    
}
.project-card:hover{
    cursor: pointer;
   transition:all 0.4s ease;
   transform: translateY(-5px);
   box-shadow: 4px 3px 20px var(--primary-color);
}
.project-img{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-weight: 820;
    font-size: 2.5rem;
    background-color: #1b1b25;
    color: var(--primary-color);
} 
.project-card h3{
    padding: 18px 18px;
    
}
.project-card p{
    padding: 0px 18px;
    line-height: 25px;
    font-size: 15px;
}
.project-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 17px 20px;
} 
.project-tags li{
    color: var(--primary-color);
    border: 1px solid var(--sprimary-color);
    padding: 8px 9px;
    border-radius: 7px;
    font-size: 14px;
}
/* section 4 */

#contact{
    
    margin-bottom: 100px;
     padding: 80px 30px;
    color: var(--text-color);
}
section h2{
    margin-bottom: 40px;
    text-align: center;
}
.contact-intro{
    text-align: center;
    margin: -20px auto 40px;
}
.contact-form{
    display: flex;
    gap: 40px;
}
.contact-form .contact-input{
    flex: 3;
    margin-top: 30px;
}
.contact-form .contact-info{
    flex: 3;
    margin-top: 30px;
}


.contact-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group input, .form-group textarea{
    padding: 20px;
    background-color: black;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    color: var(--text-color);
    transition: 0.5s;
    resize: none;
    font-family: 'poppns', sans-serif;
}
.form-buttun{
    background-color: #6366f1;
    color: white;
    cursor: pointer;
}
.form-buttun:hover{
    box-shadow: 4px 4px 20px rgb(231, 23, 148);
    transform: scale(1.05);
    transition: 0.3s;
}
.btn{
    padding: 14px 28px;
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;
}
/* .contact-info{
    display: flex;
    flex-direction: column;
} */

.contact-info h3{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 37px;
}

.contact-links{
    display: flex;
    flex-direction: column;
    gap: 18px;
   
}
.contact-links a{
    font-size: 19px;
}
.contact-links a:hover{
    box-shadow: 3px 3px 13px rgb(231, 23, 148);
    transform: scale(1.05);
    transition: 0.5s;
    border:1px solid #6366f1;
    border-radius: 20px ;
    color: var(--text-color);

}
.contact-links li a{
    padding: 6px;
}
ul{
    list-style: none;
}

#project,
#home,
#contact,
#about {
    scroll-margin-top: 90px;
}


@media(max-width: 600px){
    /* NAVBAR */
    nav{
        padding: 0px 23px;
    }
    nav .right a span{
        display: none;
    }
    nav .right a{
        font-size: 25px;
    }
    /* section 1 */
   #home .greeting{
    width: 85%;
   }

   /* section 4 */

}


@media (max-width: 740px){
    .contact-form  {
        flex-direction: column;
    }
       /* section 2 */
   .about-section{
    flex-direction: column;
    justify-content: space-between;
    
}
} 
/* section 3 */

@media (min-width: 600px) {
    .project-section {
        grid-template-columns: repeat(2, 1fr);
    }
}